.body_style {
  margin: 0;
  padding: 0;
}
svg {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  max-width: 37em;
  margin: 0;
}

use,
path:nth-child(2) {
  animation: waves 60s linear infinite
}

@keyframes waves {
  0% {
    stroke-dasharray: 120, 20
  }

  100% {
     stroke-dasharray: 120, 20;
    stroke-dashoffset: 12000;
  }
}

svg > g {
  transform-origin: 50% 50% ;
  animation:pulse ease .1s infinite alternate ;
}
svg > g:nth-child(2){
     animation-delay:.1ms
   }
@keyframes pulse {
  0% {
    transform: scale(.995)
  }
  100% {
    transform: scale(1);

  }
}
path:nth-child(2){opacity:1;}
path{fill:#d94}
.body_style{background-color:#48d;color:#ccc}
.card{
  background-color: #dd9944;
  height: auto;
  width: auto;
  position: absolute;
  max-width: 20em;
  margin-top: 10%;
  margin-right: 10%;
  min-width: min-content;
}
.card-body{
  background-color: #dd9944;
  color: black;
  text-align: center;
  align-content: center;
  align-items: center;
  margin: 1px;
}
.card-text,
.card-title{
  text-align: center;
}
.btn{
  margin-top: 6px;
}
.custom-file {
  overflow: hidden;
}
.custom-file-input {
  white-space: nowrap;
}